$whiteColor: #FFFFFF;
$grayDarkColor: #4A4B4F;
$grayLightColor: #8D8D8D;


body {
  background-color: #FFFFFF;
  color: #8D8D8D;
  font-family: sans-serif;
}

header {
  font-size: xx-large;
  margin-top: 25px;
  margin-left: 40px;
  margin-bottom: 25px;
  font-family: sans-serif;
}

.banner {
  background-image: url('../images/banner.jpg');
  background-size: cover;
  height: 150px;
}

ul {
  list-style-type: none;
  text-align: center;
  font-family: sans-serif;
}

li {
  max-width: 100%;
  height: auto;
  width: auto;
  text-align: center;
/*  padding-top: -100px;*/
  line-height: 16px;
}

h1:before,
h1:after {
    background-color: #8D8D8D;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 40%;
}
h1:before {
    right: 0.5em;
    margin-left: -50%;
}
h1:after {
    left: 0.5em;
    margin-right: -50%;
}

p {
  text-align: left;
}

footer {
  position: absolute;
  width: 100%;
  height: 50px;
  background-color: #4A4B4F;
  color: #8D8D8D;
  font-size: 12px;
  text-align: center;
  padding-top: 110px;
  font-family: sans-serif;
}